header {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.797);
  padding-left: 200px;
  height: 4vh;
}

h3 {
  color: white;
  font-size: medium;
  padding-top: 1vh;
}

.fa-shopping-cart {
  color: white;
}

.container{
  padding-top: 20px;
  display: flex;
}

.detailContainer {
  width: 50%;
}

.detailImg {
  width: 18rem;
}

.cardImage {
  height: 12rem;
  object-fit: contain;
}

.card-body {
  padding: 0px;
  padding-top: 30px;
}

.card-body {
  font-size: 12px;
}

.cartSummaryButton {
  position: fixed;
  left: 0;
  top: 5;
  color: blue;
  cursor: pointer;
}

.cartSummaryContainer {
  width: 800px;
}
